[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#container
{
    width: 100%;
}
body
{
    font-family: 'Raleway', sans-serif;
}
#logo
{
    width: 100%;
    height: 350px;
    background-image: url(rosliny-doniczkowe-.jpg);
    background-size: cover;
}
#nav
{
    height: 40px;
    background-color: forestgreen;
    width: 70%;
    margin: auto;
}
.navoption:hover
{
    transform: scale(1.2);
    transition: all 0.2s;
}
#media
{
    margin-left: 90%;
    font-size: 30px;
    color: rgb(20, 85, 20);
}
a
{
    text-decoration: none;
    color: rgb(20, 85, 20);
} 

.mediaoption
{
    float: left;
    padding: 10px;
}
.navoption
{
    width: 33.333%;
    float: left;
    text-align: center;
    color: white;
    margin-top: 10px;
    line-height: 20px;
}
#main
{
    width: 90%;
    margin: auto;
}
#newart
{
    margin-top: 40px;
}
#newart1
{
    margin-top: 40px;
}
#newarting
{
    background-image: url(monstera.jpg);
    background-size: cover;
    height: 400px;
}
#newarting2
{
    background-image: url(zielone.jpg);
    background-size: cover;
    height: 400px;
}
#newarting3
{
    background-image: url(suku.jpg);
    background-position: 25% 53%;
    background-size: cover;
    height: 400px;
}
#newarting4
{
    background-image: url(rosliny-bezpieczne-dla-zwierzat.jpg);
    background-position: 25% 20%;
    background-size: cover;
    height: 400px;
}
#newart1:hover
{
    opacity: 0.8;
}
#newarttitle
{
    background-color: rgba(93, 248, 113, 0.4);
    width: 100%;
}
#newarttitel h1
{
    padding: 15px;
    padding-left: 55px;
    padding-bottom: 15px;
}
.art
{
    float: left;
    width: 50%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.arting
{
    width: 80%;
    margin: auto;
    height: 400px;
    
}
.arting1
{
    width: 80%;
    margin: auto;
    height: 400px;

}
.arting:hover
{
    opacity: 0.8;
}
.arttitle
{
    background-color: rgba(93, 248, 113, 0.4);
    font-size: 30px;
    padding: 10px;
    width: 70%;  
}
.arttxt
{
    width: 80%;
    margin: auto;

}
#footer
{
    clear: both;
    padding-top: 50px;
    text-align: center;
}